		<ion-view view-title="Home">
			<ion-content class="padding">
				<div class="home-screen">
					<h3>Welcome to the</h3>
					<h3>Ninth Annual Government and Industry Partnership C5ISR Summit!</h3>
				</div>
				<ion-list>
					<ion-item class="item-icon-left">
						<i class="icon ion-chatbubble-working"></i>
						Updates will be posted here
					</ion-item>
					
					<ion-item class="item-icon-left">
						<i class="icon ion-arrow-down-a"></i>
						Use the tabs below to view the Agenda
					</ion-item>

				</ion-list>
			</ion-content>
		</ion-view>