			<ion-tabs class="tabs-icon-top tabs-positive">

				<ion-tab title="Home" icon="ion-home" href="#/tab/home">
				 <ion-nav-view name="home-tab"></ion-nav-view>
				</ion-tab>

				<ion-tab title="Day 1" icon="ion-ios-paper" href="#/tab/day1">
				 <ion-nav-view name="day1"></ion-nav-view>
				</ion-tab>

				<ion-tab title="Day 2" icon="ion-ios-paper" href="#/tab/day2">
				 <ion-nav-view name="day2"></ion-nav-view>
				</ion-tab>

				<ion-tab title="Day 3" icon="ion-ios-paper" href="#/tab/day3">
				<ion-nav-view name="day3"></ion-nav-view>
				</ion-tab>

			</ion-tabs>