/* Empty. Add your own CSS if you like */
.bar-positive {
	box-shadow: 0px 5px 5px grey;
	border-color: #A4D4E4 !important;
	background: #154855 !important;
}

.item.item-avatar-left {

	background: #A4D4E4;
}

.thumbnail {
	height: 64px;
	border-radius: 36px;
	float: left;
	margin-right: 12px;
}
.agendaitem{
  h2 {
    margin: 0 0 2px 0 !important;
    font-size: 32px !important;
    font-weight: normal !important; }
  h3 {
    margin: 0 0 4px 0 !important;
    font-size: 28px !important; }
  h4 {
    margin: 0 0 4px 0 !important;
    font-size: 24px!important; }
}